* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #ececec;
  color: #000000;
  display: flex;
  flex-direction: column;
}

header {
   background:#cccccc;
  text-align: center;
  padding: 35px 20px;
  font-size: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 8px rgb(101, 92, 92);
}

nav {
 background: linear-gradient(to bottom, #000000 0%, #8c8c8c 100%);
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 18px;
  box-shadow: 0 2px 14px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: #d2d2d2;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  transition: 0.35s;
}

nav a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 4px;
  transform: scale(1.08);
}

main {
  flex: 1;
  display: flex;
  justify-content: left;
  gap: 25px;
  max-width: 1300px;
  margin: 45px auto;
  padding: 0 25px;
}

section {
  flex: 3;
  background: #fff;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0,0,0,0.2);
  font-size: 20px;
  line-height: 1.8;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.photo {
  width: 230px;
  border-radius: 14px;
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  box-shadow: 0 0 18px rgba(0,0,0,0.35);
  object-fit: cover;
}

aside {
  flex: 1;
  background: #ededed;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 14px rgba(0,0,0,0.14);
}

aside h2 {
  font-size: 26px;
  margin-bottom: 16px;
  border-bottom: 3px solid #111;
  padding-bottom: 6px;
  font-weight: 700;
}

aside ul {
  list-style: none;
  font-size: 20px;
  line-height: 2;
}


footer {
  background: linear-gradient(to bottom left, #ffffff 0%, #000000 100%);
  color: #fff;
  text-align: left;
  padding: 22px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

a[href^="mailto:"] {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

a[href^="mailto:"]:hover {
  color: #dcdcdc;
  text-decoration: underline;
}

.contact-form {
  background: #fff;
  width: 480px;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0,0,0,0.22);
  margin: 40px auto;
}

.contact-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-form label {
  display: block;
  margin: 16px 0 8px;
  font-size: 19px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border: 2px solid #bbb;
  border-radius: 8px;
  transition: 0.25s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
  outline: none;
}

.contact-form button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  font-size: 20px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #343434;
}


#projects {
  width: 90%;
  margin: 45px auto;
  text-align: center;
}

#projects h2 {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: 700;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 18px rgba(0,0,0,0.18);
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.04);
  box-shadow: 0 0 24px rgba(0,0,0,0.27);
}

.project-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
}

.project-card p {
  font-size: 19px;
  margin-bottom: 12px;
  font-weight: 700;
}

.project-card a {
  display: inline-block;
  padding: 11px 18px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.project-card a:hover {
  background: #444;
}

.pdf-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  gap: 35px;
  padding: 20px;
  width: 92%;
  margin: auto;
}

.pdf-item {
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.22);
  padding: 25px;
  text-align: center;
  transition: 0.3s;
}

.pdf-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.pdf-item h3 {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 700;
}

.pdf-item iframe {
  width: 100%;
  height: 680px;
  border-radius: 14px;
  border: 2px solid #dadada;
  transition: 0.25s;
}

.pdf-item iframe:hover {
  border-color: #000;
}

#certificates {
  width: 95%;
  margin: 50px auto;
  text-align: center;
}

#certificates h2 {
  font-size: 38px;
  margin-bottom: 35px;
  font-weight: 800;

}

.cert-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 35px;
}

.cert-gallery img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.32);
  transition: all 0.4s ease;
  border: 2px solid transparent;
}

.cert-gallery img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px rgb(64, 49, 30), 0 0 20px rgba(255,214,105,0.3);
  border: 2px solid #47315b;
  filter: brightness(1.05);
}

.social-links a {
  color: #fff;
  font-size: 28px;
  margin-right: 15px;
  transition: 0.3s;
}


